{% extends 'website/base.html' %}


{% load static %}

{% load humanize %}

{% block title %}Consulter détail Profil{% endblock %}

{% block page_titre %}Consulter détail Profil{% endblock %}

{% block sub_page %}Consulter détail Profil{% endblock %}





{% block body %}


<div class="row">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-6">
                <div class="card-box">
                    <h4 class="header-title mb-4">Rechercher un Profil</h4>
                    <form method="get" action="{% url 'searchProfile' %}">
                        {% csrf_token %}
                        <div class="row">
                            <!--div class="col-6">
                                <div class="form-group">
                                    <label for="pseudo">Pseudo</label>
                                    <input type="text" class="form-control" placeholder="Pseudo" name="pseudo">
                                    <small class="text-muted">Pseudo</small>
                                </div>
                            </div-->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="matricule">Matricule</label>
                                    <input type="text" class="form-control" placeholder="Matricule" name="matricule">
                                    <small class="text-muted">Matricule</small>
                                </div>
                            </div>
                            <!--div class="col-6">
                                <div class="form-group">
                                    <label for="poste">Poste</label>
                                    <input type="text" class="form-control" placeholder="Poste" name="poste">
                                    <small class="text-muted">Poste</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="site">Site</label>
                                    <input type="text" class="form-control" placeholder="Site" name="site">
                                    <small class="text-muted">Site</small>
                                </div>
                            </div-->
                        </div>
                        <button type="submit" class="btn btn-primary">Rechercher</button>

                    </form>
                </div>
                <br>

            </div><!-- end col -->
            <div class="col-6">
                <div class="card-box">
                    <h4 class="header-title mb-4">Importer : Export</h4>
                    <form method="post"  enctype="multipart/form-data" action="{% url 'importDataProfile' %}">
                        {% csrf_token %}
                        <div class="form-group">

                            <label for="myfile">Mon Fichier CSV</label>

                            <input type="file" class="form-control" placeholder="Choisir le fichier csv" name="myfile">

                            <small class="text-muted">
                                Veuillez uploader un fichier csv s'il vous plaît de peur d'obtenir un bug !
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Importer des données</button>
                        <a href="{% url 'exportProfileCSV' %}" class="btn btn-warning">Export en CSV</a>
                        <a href="{% url 'exportProfileXLS' %}" class="btn btn-warning">Export en XLS</a>
                        <a href="{% url 'exportProfilePDF' %}" class="btn btn-warning">Export en PDF</a>

                    </form>
                </div>
                <br>

            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    <div class="col-lg-7">
        <div class="card-box">
            <h4 class="header-title">Listing des Profils</h4>
            <p class="sub-header">
                Les différents Profils du système sont répertoriés à cet endroit et permettent de connaitre les droits d'accès des utilisateurs du système.
            </p>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Avatar</th>
                        <th>Noms & Prénoms</th>
                        <th>Poste</th>
                        <th>Matricule</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for profile in profiles %}
                    <tr>
                        <th scope="row">{{ profile.pk }}</th>
                        <td>
                            <img src="{{ profile.avatar.url }}" style="border-radius: 50%; height: 25px;width: 25px;">
                        </td>
                        <td>{{ profile.user.last_name }} &nbsp; {{ profile.user.first_name }}</td>
                        <td>{{ profile.poste }}</td>
                        <td>{{ profile.matricule }}</td>
                        <td>
                            <a href="{% url 'checkProfil' profile.pk %}" class="btn btn-xs btn-info">
                                <i class=" mdi mdi-ubuntu"></i>
                            </a>
                            <a href="{% url 'updateProfil' profile.pk %}" class="btn btn-xs btn-warning">
                                <i class=" mdi mdi-pencil-off-outline"></i>
                            </a>
                            <a href="{% url 'desactivateProfil' profile.pk %}" class="btn btn-xs btn-danger">
                                <i class=" mdi mdi-police-badge"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <br>


                {% if profiles.has_other_pages %}
                <nav>
                    <ul class="pagination">
                        {% if profiles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{{ profiles.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for i in profiles.paginator.page_range %}
                            {% if profiles.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if profiles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ profiles.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link disabled" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
        


            </div>
        </div>
    </div>

    <div class="col-lg-5">
    	<div class="row">
            <div class="col-12">

                <div class="card-box">

                    <img src="{{ his_profile.avatar.url }}" style="border-radius: 50%; height: 55px;width: 55px;">
                    <br>
                    <p>
                        <h4 class="header-title">Pseudo &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.user.username }}</em></h4>
                        <h4 class="header-title">Noms &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.user.last_name }}</em></h4>
                        <h4 class="header-title">Prenoms &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.user.first_name }}</em></h4>
                        <h4 class="header-title">Matricule &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.matricule }}</em></h4>
                        <h4 class="header-title">Email &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.user.email }}</em></h4>
                        <h4 class="header-title">Téléphone &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.telephone }}</em></h4>
                        <h4 class="header-title">Nationalité &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.nationalite }}</em></h4>
                        <h4 class="header-title">Adresse &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.adresse }}</em></h4>
                        <h4 class="header-title">Ville &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.ville }}</em></h4>
                        <h4 class="header-title">Quartier &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.quartier }}</em></h4>
                        <h4 class="header-title">Poste occupé &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.poste }}</em></h4>
                        <h4 class="header-title">Site d'intervention &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.site }}</em></h4>
                        <h4 class="header-title">Compagnie &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.compagnie }}</em></h4>
                        <h4 class="header-title">Droits d'accès &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.groupe }}</em></h4>
                        <h4 class="header-title">Statut de l'employé &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.statut }}</em></h4>
                        <h4 class="header-title">Connecté ? &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.connecte }}</em></h4>
                        <h4 class="header-title">Date de Création &nbsp;&nbsp;:&nbsp;&nbsp; <em class="text-muted">{{ his_profile.created|naturaltime }}</em></h4>
                    </p>
                </div>

                <br>

            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

</div>
<!--- end row -->



{% endblock %}